@page "{slug?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject DownrOptions options
@using Humanizer

<div>
    <h1 class="header">@options.Title</h1>
    <p class="subheader">@options.IndexPageText</p>
</div>

@foreach (var post in Model.Posts)
{
    <div class="card">
      <div class="card-body">
          <div class="card-header">
            <h2 class="card-title"><NavLink href="@($"/posts/{post.Slug}")">@post.Title</NavLink></h2>
            <h6 class="card-subtitle">posted @post.PublicationDate.Humanize() in @foreach(string category in post.Categories)
                    {
                        <span class="category">@category</span>
                    }
            </h6>
          </div>
        <p class="card-text">
            @Html.Raw(post.Content)
        </p>
		</div>
    </div>
    <p>&nbsp;</p>
}